<!--
  Generated template for the InsurancepoliciesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <ion-item *ngFor= "let tablet of tablets | async">>
        <h3>{{tablet.type}}</h3>
        <h2> 
          {{tablet.details}} 
        </h2>
        <h2> ${{tablet.price}} </h2>
        <h3> {{tablet.duration}} months </h3>
        <p>
            <button value = "{{tablet.key}}" >Submit</button>
        </p>
    </ion-item> 
    <ion-item *ngFor= "let phone of phones | async">
        <h3>{{phone.type}}</h3>
        <h2> 
          {{phone.details}} 
        </h2>
        <h2> ${{phone.price}} </h2>
        <h3> {{phone.duration}} months </h3> 
        <p>
            <button value = "{{phone.key}}" >Submit</button>
        </p>
    </ion-item> 
</ion-content>
